<div class="carousel-container" id="destinations">
  <div class="title-container">
    <h2>🐘 Destinations & Highlights</h2>
  </div>

  <div class="button-container">
    <!-- Previous Button -->
    <button class="prev" (click)="moveToPrevSlide()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M19 2a3 3 0 0 1 3 3v14a3 3 0 0 1 -3 3h-14a3 3 0 0 1 -3 -3v-14a3 3 0 0 1 3 -3zm-5.293 6.293a1 1 0 0 0 -1.414 0l-3 3l-.083 .094a1 1 0 0 0 .083 1.32l3 3l.094 .083a1 1 0 0 0 1.32 -.083l.083 -.094a1 1 0 0 0 -.083 -1.32l-2.292 -2.293l2.292 -2.293l.083 -.094a1 1 0 0 0 -.083 -1.32z"
        />
      </svg>
    </button>

    <!-- Next Button -->
    <button class="next" (click)="moveToNextSlide()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M19 2a3 3 0 0 1 3 3v14a3 3 0 0 1 -3 3h-14a3 3 0 0 1 -3 -3v-14a3 3 0 0 1 3 -3zm-7.387 6.21a1 1 0 0 0 -1.32 .083l-.083 .094a1 1 0 0 0 .083 1.32l2.292 2.293l-2.292 2.293l-.083 .094a1 1 0 0 0 1.497 1.32l3 -3l.083 -.094a1 1 0 0 0 -.083 -1.32l-3 -3z"
        />
      </svg>
    </button>
  </div>

  <div class="slider-container">
    <div class="slider-wrapper">
      <div
        *ngFor="let image of images; let i = index"
        class="destination-slide"
      >
        <div class="destination-card">
          <div class="destination-image">
            <img [src]="image.image" [alt]="image.alt" />
            <div class="image-country">{{ image.country }}</div>
            <div class="image-title">
              <h3>{{ image.title }}</h3>
              <p>{{ image.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
